body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    text-align: center;
}
header {
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 1rem;
}
main{
    color: white;
    padding: 2rem;
}
footer{
    background: #222;
    color: white;
    width: 100%;
    position: fixed;
    padding: 1rem;
    bottom: 0;
}
.button{
    background: white;
    color: blue;
    padding: 10x, 15x;
    Width: 5x;

}
.button-hover{
    color: white;
}
