body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    text-align: center;
}
header {
    font-size: 55px;
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 1rem;
}
main{
    color: white;
    padding: 2rem;
}
footer{
    background: #222;
    color: white;
    width: 100%;
    position: fixed;
    padding: 1rem;
    bottom: 0;
}
.button{
    background: white;
    color: blue;
    padding: 10px, 15px;
    Width: 5px;

}
.button-hover{
    color: white;
}
img{
max-width : 400px;
height : auto;
border-radius: 20px
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}